* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}

body {padding: 2em 4em important;}
.website {
  background-color: rgb(14, 14, 154);
  width: 30%;
  text-align: center;
  padding: 20px 10px;
}
.website h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  line-height: 1.5;
  text-transform: capitalize;
}
.website p {
  color: rgba(255, 255, 255, 0.78);
  line-height: 10;
  font-family: serif;
}
.website button {
  background-color: blue;
  padding: 10px;
  border: 2px solid white;
  color: white;
  margin: 10px;
  border-radius: 5px;
}

.cover {
  background-color: rgba(0, 0, 255, 0.892);
  width: 30%;
  text-align: left;
  padding: 30px 40px;
  transition: all 0.2s ease-in;
}

.cover:hover {
  background-color: black;
}
.cover h5 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
  text-transform: capitalize;
}

.cover h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  line-height: 1.5;
  text-transform: capitalize;
}
.cover p {
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
.cover button {
  background-color: blue;
  padding: 10px;
  border: 2px solid white;
  color: white;
  margin: 40px 0;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.cover button:hover {
  background-color: black;
  border-radius: 100px;
}
.gradient {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to right, black, rgb(65, 128, 73));
}
.bg--image {
  width: 300px;
  height: 300px;
  background-image: url(./img/IMG-20241112-WA0034.jpg);
  background-size: cover;
  background-position: center;
}
.main--image {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.561),
      rgba(0, 0, 255, 0.561)
    ),
    url(./img/IMG-20241112-WA0034.jpg);
  background-size: cover;
  background-position: center;
}
.main--image_2 {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.489), rgba(0, 0, 0, 0.489)),
    url(./img/IMG-20241112-WA0034.jpg);
  background-size: cover;
  background-position: center;
}
.circular--image {
  width: 200px;
  height: 200px;
  background-image: url(./img/IMG-20241112-WA0034.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100px;
}
.ds--header{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img_1 {
    background-image: url(./img/IMG-20241112-WA0034.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
/* .img_2{
     background-image: url(./img/IMG-20241112-WA0034.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px; */
/* }
.img_3{
     background-image: url(./img/IMG-20241112-WA0034.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
.image--wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; */
/* } */

.digital-marketing{
  background-color: rgba(0, 0, 255, 0.892);
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.digital-marketing h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.digital-marketing p{
  color: rgba(255, 255, 255, 0.883);
}

.soc-media{
  background-color: rgba(0, 0, 255, 0.892);
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.soc-media h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.soc-media p{
   color: rgba(255, 255, 255, 0.883);
}

.vedio-ed{
  background-color: rgba(0, 0, 255, 0.892);
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.vedio-ed h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 26px 0;
  text-transform: capitalize;
}
.vedio-ed p{
   color: rgba(255, 255, 255, 0.883);
}


.header1{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  
}

.header2{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.web-dev{
  background-color: rgba(0, 0, 255, 0.892);
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.web-dev h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.web-dev p{
   color: rgba(255, 255, 255, 0.883);
}

.creative{
  background-color: rgba(0, 0, 255, 0.892);
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.creative h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.creative p{
   color: rgba(255, 255, 255, 0.883);
}
.vitual{
  background-color: rgba(0, 0, 255, 0.892);
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.vitual h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.vitual p{
  color: rgba(255, 255, 255, 0.883);
}

.content{
  background-color: black;
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.content h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.content{
   color: rgba(255, 255, 255, 0.883);
}
.script{
  background-color:black;
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.script h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.script p{
  color: rgba(255, 255, 255, 0.883);
}
.ui-ux{
  background-color: black;
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.ui-ux h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.ui-ux p{
  color: rgba(255, 255, 255, 0.883);
}


.copy{
  background-color: black;
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.copy h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.copy{
  color: rgba(255, 255, 255, 0.883);
}
.tech-writig{
  background-color: black;
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.tech-writig h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.tech-writig{
  color: rgba(255, 255, 255, 0.883);
}
.graphic{
  background-color: black;
  width: 26%;
  text-align:center;
  padding: 30px 20px; 
  display: block;
  height: 25rem;
  border-radius: 7px;
  box-shadow: 3px 4px 5px gray;
}
.graphic h2{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  text-transform: capitalize;
}
.graphic{
  color: rgba(255, 255, 255, 0.883);
}

@media (max-width: 800px) {
  .header1 {
    flex-direction: column;
  }
  .header1 > * {
    width: 100% ;
  }
}
